.profile {
  background: #382751 url(../images/pattern.png);
  background-size: 190px;
  height: 100%;
  box-sizing: border-box;
}

.profile-loading {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  font-size: 50px;
  left: 0;
  padding: var(--grid-unit-xxl) 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 100;
}
