<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Страница не найдена</title>
    <style type="text/css">
      body {
        background: #382751;
        color: #fff;
        font-family: sans-serif;
      }
      a {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1>Страница не найдена</h1>
    <p>
      Запрашиваемая вами страница не найдена.
    </p>
    <p>
      <a href="/">На главную</a>.
    </p>
  </body>
</html>
