<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Технические работы</title>
    <style type="text/css">
      body {
        background: #382751;
        color: #fff;
        font-family: sans-serif;
      }
      a {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1>Технические работы</h1>
    <p>
      Сайт закрыт на технические работы. Для связи пишите
      <a href="https://habr.com/ru/users/negasus/">@negasus</a> или
      <a href="https://habr.com/ru/users/kafeman/">@kafeman</a> на Хабре.
    </p>
    <p>
      Если у вас нет аккаунта на Хабре, но все равно нужно связаться:
      <a href="mailto:kafeman@habra-adm.ru">kafeman@habra-adm.ru</a>.
    </p>
  </body>
</html>
