{% load webpack %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover,maximum-scale=1,user-scalable=0">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{% webpack_asset 'social.jpg' 'src' %}">
    <title>Клуб анонимных Дедов Морозов на Хабре</title>
    <link rel="apple-touch-icon" sizes="152x152" href="{% webpack_asset 'apple-touch-icon.png' 'src' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% webpack_asset 'favicon-32x32.png' 'src' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% webpack_asset 'favicon-16x16.png' 'src' %}">
    <link rel="stylesheet" href="{% webpack_asset 'main.css' 'src' %}" integrity="{% webpack_asset 'main.css' 'integrity' %}" crossorigin="anonymous">
  </head>
  <body>
    <div id="root"></div>
    <noscript>
      <div class="critical">
        Один мальчик отключил JavaScript и не получил подарок.
      </div>
    </noscript>
    <script src="{% webpack_asset 'main.js' 'src' %}" integrity="{% webpack_asset 'main.js' 'integrity' %}" crossorigin="anonymous"></script>
  </body>
</html>
