{% load django_vite %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover,maximum-scale=1,user-scalable=0">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{% vite_asset_url 'src/images/social.jpg' %}">
    <title>Клуб анонимных Дедов Морозов {{ season.id }} на Хабре</title>
    <link rel="apple-touch-icon" sizes="152x152" href="{% vite_asset_url 'src/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% vite_asset_url 'src/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% vite_asset_url 'src/images/favicon-16x16.png' %}">
    {% vite_hmr_client %}
    {% vite_asset "src/index.tsx" %}
  </head>
  <body>
    <div id="root"></div>
    <noscript>
      <div class="critical">
        Один мальчик отключил JavaScript и не получил подарок.
      </div>
    </noscript>
    {{ season|json_script:"season" }}
  </body>
</html>
