<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Политика конфиденциальности</title>
    <style type="text/css">
      body {
        max-width: 650px;
        font: 14px/1.2 Arial,sans-serif;
        text-align: justify;
        margin: 0 auto;
        padding: 20px;
      }
      h1, h2 {
        text-align: center;
      }
      h1 {
        font-size: 18px;
      }
      h2, h3 {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <h1>Политика конфиденциальности</h1>

    <h2>Краткая версия</h2>

    <p><u>Какие данные мы собираем:</u></p>
    <ul>
      <li>имя аккаунта на Хабре;</li>
      <li>информацию, которую вы указали для доставки подарка: ФИО, адрес;</li>
      <li>подтверждения «отправил подарок» и «получил подарок»;</li>
      <li>IP-адрес и user agent сохраняются автоматически в логах сервера и журналах действий;</li>
    </ul>
    <p><u>Как мы используем данные:</u></p>
    <ul>
      <li>Информацию для отправки подарка мы предоставим одному случайно назначенному анонимному Деду Морозу.</li>
      <li>Обеспечиваем возможность анонимной переписки с Анонимным Дедом Морозом.</li>
      <li>Считаем общее количество Анонимных Дедов Морозов, отправленных и полученных подарков.</li>
      <li>Запоминаем тех, кто не отправил подарок (если ошибаемся — пишите), а также тех, кого эти самозванцы обидели.</li>
      <li>IP-адрес и user agent сохраняются для целей технической поддержки и обеспечения безопасности.</li>
    </ul>

    <h2>Полная версия</h2>

    <p>Настоящий документ «Политика конфиденциальности» (далее — по тексту — «Политика») выражает политику в отношении обработки персональных данных и правила использования иной персональной информации Пользователя, полученных компанией «Habr Blockchain Publishing Ltd» указанными ниже способами.</p>
    <p>СОГЛАСИЕ ПОЛЬЗОВАТЕЛЯ</p>
    <p>Проставляя отметку о согласии в поле, сопровождающемся ссылкой на настоящую Политику, вы свободно, своей волей и в своих интересах, даете конкретное, предметное, информированное, сознательное и однозначное письменное согласие на обработку Персональной информации в порядке и на условиях, установленных настоящей Политикой.</p>

    <h3>1. Термины и определения</h3>
    <p>1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:</p>
    <p>a. <strong>Хабр</strong> — Habr Blockchain Publishing Ltd (Хабр Блокчейн Паблишинг Лтд), регистрационный номер: НЕ 289873, Адрес: Diagorou 4, Kermia Building, 6th floor, flat / office 601, 1097, Nicosia, Cyprus, e-mail: <a href="mailto:support@habr.com">support@habr.com</a></p>
    <p>b. <strong>Пользователь</strong> — пользователь сети Интернет, использующий Сервис.</p>
    <p>c. <strong>Сервис</strong> — автоматизированная информационная система, доступная в сети Интернет по адресу: <a href="https://habra-adm.ru">https://habra-adm.ru</a>, с использованием которой собирается персональная информация Пользователя.</p>
    <p>d. <strong>Соглашение</strong> — Пользовательское соглашение, размещенное и/или доступное в сети Интернет по адресу: <a href="https://habra-adm.ru/terms">https://habra-adm.ru/terms</a>, представляющее собой договор между Пользователем и Хабром о безвозмездном использовании Сервиса.</p>

    <h3>2. Общие положения</h3>
    <p>2.1. Настоящая Политика является неотъемлемой частью Пользовательского соглашения. Таким образом, заключая Соглашение путем начала использования Сервиса, вы принимаете условия настоящей Политики в полном объеме.</p>
    <p>2.2. Способы обработки Персональной информации включают любые действия (операции) или комбинацию действий (операций), в том числе, сбор, запись, систематизация, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение в установленных настоящей Политикой целях с использованием средств автоматизации или без использования таких средств по усмотрению Хабра.</p>
    <p>2.3. Хабр не осуществляет намеренный сбор персональных данных у лиц, не достигших 18 лет, и не запрашивает их. Лицам, не достигшим 18 лет, не разрешается предоставлять личную информацию, включая имя, адрес, номер телефона и адрес электронной почты. Если Хабру станет известно о том, что информация была получена от лица в возрасте до 18 лет, Хабр безотлагательно удалит такую информацию. Если вы считаете, что нами могла быть получена какая-либо информация от лица младше 18 лет, пожалуйста, свяжитесь с нами по электронной почте, указанной в настоящей Политике.</p>

    <h3>3. Персональная информация</h3>
    <p>3.1. Под персональной информацией в настоящей Политике понимается:</p>
    <p>3.1.1. Информация, которую Пользователь предоставляет о себе самостоятельно при регистрации в Сервисе, включая персональные данные Пользователя.</p>
    <p>3.1.2. Данные, которые собираются в автоматическом режиме в обезличенном виде.</p>
    <p>3.2. При авторизации Пользователя посредством авторизационной службы сайта habr.com Хабру передается имя аккаунта Пользователя на habr.com.</p>
    <p>3.3. При регистрации в Сервисе Пользователем обязательно предоставляется информация, необходимая для доставки Пользователю подарка: имя получателя (может включать фамилию, имя, отчество) и адрес доставки.</p>
    <p>3.4. К информации о Пользователе добавляются полученные от Пользователя средствами Сервиса (путем нажатия соответствующих кнопок) подтверждения о получении или отправке подарков.</p>
    <p>3.5. Хабр в автоматическом режиме осуществляет сбор и хранение данных о действиях Пользователя в Сервисе, используя при этом логи серверов и журналы действий, в которых сохраняются IP-адрес Пользователя и user agent.</p>
    <p>3.6. Хабр не осуществляет проверку достоверности предоставляемой Персональной информации и наличия у Пользователя необходимого согласия на ее обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий субъектов персональных данных.</p>

    <h3>4. Правовые основания обработки Персональной информации</h3>
    <p>4.1. Хабр обрабатывает Персональную информацию на следующих основаниях:</p>
    <p>4.1.1. Пользователем предоставлено согласие на обработку для одной или нескольких конкретных целей;</p>
    <p>4.1.2. Обработка необходима для исполнения Соглашения об использовании Сервиса, стороной которого является Пользователь;</p>
    <p>4.1.3. Обработка необходима для осуществления прав и законных интересов Хабра, таких как предотвращение использования Сервиса недобросовестными пользователями.</p>

    <h3>5. Цели обработки Персональной информации</h3>
    <p>5.1. Хабр осуществляет обработку, в том числе сбор и хранение только общедоступных категорий персональных данных и только тех персональных данных, которые необходимы для заключения и исполнения Соглашения с Пользователями (использования Сервиса).</p>
    <p>5.2. Хабр вправе использовать Персональную информацию в целях заключения и исполнения Соглашения, включая следующие действия:</p>
    <p>5.2.1 Заключение Соглашения на использование Сервиса.</p>
    <p>Для регистрации Пользователя на Сервисе используются имя аккаунта Пользователя на habr.com, и информация, необходимая для доставки Пользователю подарка.</p>
    <p>5.2.2. Идентификация Пользователя в рамках исполнения обязательств по заключенному с ним Соглашению.</p>
    <p>Пользователь Сервиса идентифицируется Хабром по имени аккаунта Пользователя на habr.com.</p>
    <p>5.2.3 Исполнение обязательств по заключенному Соглашению, включая предоставление Пользователю доступа к Сервису и технической поддержки, использование Пользователем функциональных возможностей Сервиса.</p>
    <p>Имя аккаунта Пользователя на habr.com в совокупности с подтверждениями о получении и отправке подарков используются для предотвращения повторного использования Сервиса недобросовестными Пользователями.</p>
    <p>Предоставленная Пользователем информация, необходимая для доставки подарка используется исключительно для предоставления её одному случайно выбранному другому Пользователю — Анонимному Деду Морозу.</p>
    <p>Для обеспечения функциональной возможности обмена сообщениями между Пользователями используется имя аккаунта Пользователя.</p>
    <p>IP-адрес и user agent сохраняются для целей технической поддержки и обеспечения безопасности.</p>

    <h3>6. Права Пользователя в отношении Персональной информации</h3>
    <p>6.1. Если это предусмотрено применимым законодательством, Пользователь имеет право:</p>
    <p>6.1.1. Получать информацию о сборе и использовании его персональных данных.</p>
    <p>6.1.2. Получить доступ к своим персональным данным и исправлять их, если они неверные или неполные.</p>
    <p>6.1.3. Запретить обработку своих персональных данных в случае, если их точность оспаривается, обработка осуществляется неправомерно, а также в случаях, когда Хабру более не требуются персональные данные для целей, в которых они обрабатывались Хабром.</p>
    <p>6.1.4. Возражать против обработки своих персональных данных, а также запрещать их обработку в случаях, если Хабр обрабатывал их при исполнении задач в общественно-полезных или в собственных законных интересах, и при этом отсутствует вынужденная необходимость в продолжении такой обработки.</p>
    <p>6.1.5. В любое время отозвать согласие, которое Пользователь предоставил на обработку своих персональных данных. В случае отзыва Пользователем своего согласия на обработку персональных данных, такой отзыв не повлияет на правомерность обработки, которую Хабр осуществлял на основании такого согласия до его отзыва.</p>
    <p>6.1.6. Требовать удаления своих персональных данных, в случаях: когда они более не относятся к целям, для которых они были собраны или обрабатывались; когда отозвано согласие и у Хабра отсутствуют основания для продолжения обработки; когда имеются возражения против дальнейшей обработки в общественно-полезных или в собственных законных интересах Хабра и отсутствует вынужденная необходимость в продолжении такой обработки; когда персональные данные обрабатывались неправомерно.</p>
    <p>6.1.7. Не быть субъектом решения, основанного исключительно на автоматизированной обработке, включая профилирование, которое создает для Пользователя юридически значимые последствия или затрагивает иным аналогичным образом, за исключением случаев, когда существует правовое основание для продолжения обработки.</p>
    <p>6.1.8. Получать персональные данные в структурированной, широко используемой, и машиночитаемой форме, чтобы иметь возможность переносить данные, в случаях, когда Хабр обрабатывает предоставленные персональные данные автоматизированными средствами.</p>
    <p>6.2. Указанные права могут быть реализованы путем использования инструментов, которые Хабр предлагает в Приложении или посредством направления специального запроса Хабру способами, описанными ниже. Хабр своевременно ответит на любые такие запросы в соответствии с применимым правом. В некоторых случаях Хабр может попросить Пользователя пройти процедуру идентификации перед обработкой запроса. Пользователь вправе обратиться к соответствующему надзорному органу в своей юрисдикции, если ответ Хабра его не удовлетворяет.</p>

    <h3>7. Требования к защите Персональной информации</h3>
    <p>7.1. Хабр осуществляет хранение Персональной информации и обеспечивает ее охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.</p>
    <p>7.2. В отношении Персональной информации Пользователя сохраняется ее конфиденциальность.</p>
    <h3>8. Передача Персональной информации третьим лицам</h3>
    <p>8.1. Хабр вправе передать Персональную информацию третьим лицам в следующих случаях:</p>
    <ul>
      <li>Передача осуществляется в рамках использования Пользователем функциональных возможностей Сервиса. В частности, информация, которую Пользователь указал в Сервисе для получения подарка (фамилия, имя, отчество, адрес доставки) предоставляется одному, выбранному случайным образом другому Пользователю (Анонимному Деду Морозу).</li>
      <li>В связи с передачей Хабром Сервиса во владение, пользование или собственность третьего лица;</li>
      <li>По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;</li>
      <li>Для защиты прав и законных интересов Хабра в связи с нарушением заключенного с Пользователем Соглашения.</li>
    </ul>

    <h3>8. Хранение, изменение и удаление персональных данных</h3>
    <p>8.1. Хабр осуществляет обработку и хранение персональных данных Пользователя до достижения цели их обработки или утраты необходимости в ее достижении, невозможности обеспечения правомерности обработки персональных данных, либо отзыва Пользователем согласия на обработку его персональных данных, если сохранение персональных данных более не требуется для целей их обработки на основании договора или действующего законодательства.</p>
    <p>8.2. Пользователь вправе в любой момент отредактировать предоставленные им персональные данные самостоятельно — в пределах функциональных возможностей Личного кабинета или обратившись в службу поддержки Хабра по указанному в настоящей Политике адресу электронной почты.</p>
    <p>8.3. Пользователь вправе удалить свой Личный кабинет, обратившись в службу поддержки Хабра по указанному в настоящей Политике адресу электронной почты.</p>
    <p>8.4. При достижении цели обработки персональных данных Пользователя или при утрате необходимости в ее достижении, либо в случае невозможности обеспечения правомерности обработки персональных данных, а также в случае отзыва Пользователем согласия на обработку его персональных данных, если сохранение персональных данных более не требуется для целей их обработки, Хабр в срок, не превышающий 30 дней с даты возникновения соответствующего основания, обязан уничтожить такие персональные данные в порядке, предусмотренном локальными актами Хабра.</p>

    <h3>9. Изменение Политики конфиденциальности</h3>
    <p>9.1. Настоящая Политика может быть изменена или прекращена Хабром в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения в Сервисе, если иное не предусмотрено новой редакцией Политики.</p>
    <p>9.2. Действующая редакция Политики находится в сети Интернет по адресу: <a href="http://habra-adm.ru/privacy">http://habra-adm.ru/privacy</a>.</p>

    <p>Действующая редакция Политики от 14 декабря 2023 г.</p>

  </body>
</html>
