<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</title>
    <style type="text/css">
      body {
        max-width: 650px;
        font: 14px/1.2 Arial,sans-serif;
        text-align: justify;
        margin: 0 auto;
        padding: 20px;
      }
      h1, h2 {
        text-align: center;
      }
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <h1>
      ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ<br>
      сервиса «Клуб анонимных Дедов Морозов на Хабре»
    </h1>
    <p>
      Перед использованием сервиса, пожалуйста, ознакомьтесь с условиями настоящего соглашения. Использование сервиса на иных условиях не допускается.
    </p>
    <h2>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h2>
    <p>1.1. Анонимный Дед Мороз — благородный Хабраюзер, который любит дарить подарки и не против их получать.</p>
    <p>1.2. Клуб анонимных Дедов Морозов на Хабре – интернет-сервис, доступный по адресу <a href="https://habra-adm.ru">https://habra-adm.ru</a>, предназначенный только для Хабраюзеров и представляющий собой базу данных Анонимных Дедов Морозов с прикрученным функционалом.</p>
    <h2>2. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
    <p>2.1. Вступая в Клуб анонимных Дедов Морозов на Хабре, вы:</p>
    <p>2.1.1. Торжественно обещаете, что выберете подарок как для себя, надёжно его упакуете, вовремя отправите и не накосячите с адресом.</p>
    <p>2.1.2. Подтверждаете, что хорошо себя вели в 2023 году и знаете как минимум один стишок (заслужили свой подарок).</p>
    <p>2.1.3. Соглашаетесь с обработкой вашей персональной информации в соответствии с Политикой конфиденциальности (<a href="https://habra-adm.ru/privacy">https://habra-adm.ru/privacy</a>), а также со всеми правилами, которые мы написали или забыли написать, но если потребуется — применим.</p>
    <h2>3. ДИСКЛЕЙМЕР</h2>
    <p>3.1. Обычный. Мы стараемся делать как надо, но гарантий не даём, и, следовательно, ответственности не несём. Вы используете сервис на условиях «как есть», «как доступно», на свой страх и риск.</p>
    <h2>4. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
    <p>4.1. Во всём остальном, что не урегулировано настоящим соглашением, следует руководствоваться: в первую очередь – информацией, доступной в сервисе, во вторую очередь – информацией от службы поддержки, и в последующем — здравым смыслом и чувством юмора.</p>
    <h2>5. РЕКВИЗИТЫ АДМИНИСТРАЦИИ</h2>
    <p>
      Habr Blockchain Publishing LTD (Хабр Блокчейн Паблишинг ЛТД)<br>
      Регистрационный номер: НЕ 289873<br>
      Адрес: Diagorou 4, Kermia Building, 6th floor, flat / office 601, 1097, Nicosia, Cyprus<br>
      e-mail: <a href="mailto:support@habr.com">support@habr.com</a>
    </p>
    <p>Действующая редакция соглашения от 14 декабря 2023 г.</p>
  </body>
</html>
