<!DOCTYPE html>
<meta charset="utf-8">
<p>
  Нажмите на кнопку &laquo;Отписаться&raquo; ниже, чтобы мы перестали отправлять уведомления на <b>{{ email }}</b>:
</p>
<form method="post" url="{% url 'unsubscribe' %}?uid={{ uid }}&token={{ token }}">
  <button type="submit">Отписаться / Unsubscribe</button>
</form>
<p>
  Почему так сложно?
  Мы столкнулись с тем, что некоторые почтовые клиенты зачем-то автоматически делают GET-запросы по всем адресам в письме.
  Также было очень много жалоб от пользователей, которые нажали на ссылку по ошибке.
  Поэтому теперь необходим POST-запрос, который делает кнопка выше.
</p>
