#fullname {
  margin-bottom: 15px;
}

#postcode {
  width: 150px;
  position: relative;
  z-index: 1;
}

#address {
  height: 65px;
}

#country {
  border: 1px solid #ccc;
  border-radius: var(--radius-s);
  background: #fff;
  width: 100%;
  padding: 7px 15px 7px 7px;
  font: 16px/1.4 'PT Sans', Arial, sans-serif;
  margin: 0 0 var(--grid-unit-m);
}

#country:disabled {
  opacity: .7;
}
