name: CI

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container: python:3.9-alpine
    services:
      redis:
        image: redis:alpine
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: |
          touch assets-manifest.json
          python manage.py test
        env:
          REDIS_URL: redis://redis

  webpack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm ci
      - name: Make sure there are no type checking errors
        run: npx tsc --noEmit
      - run: npm run build
        env:
          NODE_ENV: production
      - name: Upload to the S3 bucket
        run: |
          wget https://dl.min.io/client/mc/release/linux-amd64/mc
          chmod +x mc
          ./mc alias set habra-adm https://hel1.your-objectstorage.com "$ACCESSKEY" "$SECRETKEY"
          ./mc cp -r dist/ habra-adm/habra-adm
          ./mc cors set habra-adm/habra-adm cors.xml
          rm ~/.mc/config.json
        env:
          ACCESSKEY: ${{ secrets.S3_ACCESSKEY }}
          SECRETKEY: ${{ secrets.S3_SECRETKEY }}
      - uses: actions/upload-artifact@v4
        with:
          name: assets-manifest.json
          path: assets-manifest.json

  docker:
    needs:
      - test
      - webpack
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/habrasanta/backend
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
        with:
          name: assets-manifest.json
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
